<ion-header>
</ion-header>

<ion-content>

  <!--메인박스 -->
  <div class="container">
    <!-- 네비게이션바 -->
    <!-- <div class="header">
      <app-header></app-header>
    </div> -->

    <!-- 검색박스 -->
    <!-- <div class="box a">
      <span class="search">
        <input type="text" placeholder="전화번호 입력" [(ngModel)]="ngData">
        <button class="btn-search" (click)="onSearch(ngData)">찾기</button>
      </span>
    </div> -->

    <!-- 타이틀 , 초기화, 지난내역보기 -->
    <div class="title">
      관리자페이지(지난내역)
    </div>


    <div class="box b">
      <table class="table">
        <thead class="thead">
          <tr>
            <th>No</th>
            <th>대기표</th>
            <th>접수일자</th>
            <th>전화번호</th>
            <th>입장여부</th>
          </tr>
        </thead>
        <tbody class="tbody">
          <tr *ngFor="let user of user | paginate:{itemsPerPage:10, currentPage:p}; let i = index;">
            <!-- 순번 -->
            <td>{{ i + 1 }}</td>
            <!-- 접수날짜 -->
            <td>{{ user.order }}</td>

            <!-- 접수시간 -->
            <td>{{ user.date }}</td>
            <!-- 전화번호 -->
            <td>{{ user.phone_number}}</td>
            <!-- 입장완료 -->
            <td>
              <div *ngIf="user.complete == 2; then thenBlock else elseBlock"></div>
              <ng-template #thenBlock>입장완료</ng-template>
              <ng-template #elseBlock>대기중</ng-template>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- 페이지 -->
    <div class="page">
      <pagination-controls (pageChange)="p = $event" previousLabel="이전" nextLabel="다음"></pagination-controls>
    </div>
  </div>

</ion-content>

